<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    物件名
    <%= form.text_field :name%>

    <%= form.text_field :fee%>円
    <%= form.text_field :address%>
    <%= form.text_field :age%>年
    <%= form.text_area :remarks,placeholder:"内容を入力" %>
  </div>
  <%= form.fields_for :nearest_stations do |f| %>
    <div>
      <%= f.text_field :route%>
      <%= f.text_field :name%>
      <%= f.text_field :minute%>分
    </div>
  <% end %>
  <div>
    <%= form.submit "投稿" %>
  </div>
<% end %>
